rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /members/{document=**} {
      allow read, write: if signedIn();
    }

    match /projects/{document=**} {
      allow read, write: if signedIn();
    }

    match /tasks/{document=**} {
      allow read, write: if signedIn();
    }

    match /kanbanCards/{document=**} {
      allow read, write: if signedIn();
    }

    match /meetingNotes/{document=**} {
      allow read, write: if signedIn();
    }

    match /resources/{document=**} {
      allow read, write: if signedIn();
    }
  }
}
